---
import { projects } from "../../lib/constants";
import Button from '../Button.astro';
import CustomPicture from '../CustomPicture.astro';
---

<ul>
	{
		projects.map((project, index) => (
			<div id=`project-${index}` class="project">
				<div class="custom-picture"
				>
					<CustomPicture
					mobileImageSpec={{ src: project.images.list.mobileImgSpecs.src, height: 306.5 }}
					tabletImageSpec={{ src: project.images.list.tabletImgSpecs.src, width: 339, height: 314 }}
					desktopImageSpec={{ src: project.images.list.desktopImgSpecs.src,  height: 500 }}
					alt="Evan's profile picture."
				/>
				</div>
				<div class="project-info">
				<h2>{project.title}</h2>
				<p>{project.summary}</p>
				<Button
					class="project-button"
					height={8}
					width={35}
					label="view project"
					href={project.href}
					ariaLabel="Go to project details page."
				/>
				</div>
			</div>
		))
	}
</ul>

<style>
	ul {
		margin-top: 0;
		padding-left: 0;
		margin-bottom: 0;
	}
	.project {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'image'
			'info';
		gap: 32px 0px;
		max-width: 1015px;
		/* margin-bottom: 60px; */
	}

	.project-info {
		border-top: solid var(--light-grey-text-field) 1px;
		gap: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 350px;
		grid-area: info;
		border-bottom: solid var(--light-grey-text-field) 1px;
		padding-bottom: 25px;
		margin-bottom: 60px;
	}

	h2 {
		justify-self: start;
		text-transform: capitalize;
		grid-area: title;
		margin: 0px;
		padding-top: 25px;

	}

	.custom-picture {
		grid-area: image;
	}

	p {
		grid-area: description;
		margin: 0px;
	}

	.project-button {
		grid-area: button;
		justify-self: start;
		max-width: 105px;
	}

	#project-3 .project-info {
		border-bottom: none;
		margin-bottom: 0px;
	}

	@media(min-width: 768px) {

		h2 {
			padding-top: 40px;
		}

		.project-button {
			margin-bottom: 50px;

		}
		.project {
			padding-bottom: 100px;
		}
		.project-info {
			gap: 20px;
			justify-content: space-around;
		}

		ul {
			padding-top: 50px;
		}

		.custom-picture {
			display: flex;
			align-items: center;
			max-width: 311px;
		}

		ul div:nth-of-type(even) .custom-picture {
			justify-content: end;
		}

		ul div:nth-of-type(odd) {
			justify-content: end;
			grid-template-columns: 2fr 281px;
			grid-template-areas:
			'image info'
			'image info'

		}

		ul div:nth-of-type(even) {
			grid-template-columns: 281px 2fr;
			grid-template-areas:
			'info . image'
			'info . image'

		}
		div[id=3] span:last-child {
		display: block;
	}
	}

	@media (min-width: 1024px) {
		#project-3 .project-info {
		border-bottom: solid var(--light-grey-text-field) 1px;
		margin-bottom: 0px;
	}

		.project-info {
			gap: 30px;
			margin-bottom: 0px;
		}

		.custom-picture  {
			max-width: 540px;
	}
		.project {
			gap: 0px;
			padding-bottom: 80px;
		}

		.project p {
			align-self: center;
		}
		h2 {
			align-self: start;
		}

		.project-button {
			align-self: start;
		}

		ul div:nth-of-type(odd) {
			grid-template-columns: 2fr 350px;
			grid-template-areas:
			'image info'
			'image info'
			'image info'
		}

		ul div:nth-of-type(even) {
			grid-template-columns: 350px 2fr;
			grid-template-areas:
			'info . image'
			'info . image'
			'info . image'
		}
	}
</style>
