---
import CustomPicture from '../CustomPicture.astro';
import Button from '../Button.astro';
import { projects } from "../../lib/constants"
---

<ul>
	{
		projects.map((project, index) => (
			<div id=`${index}` class="project">
				<CustomPicture
					class="custom-picture"
					mobileImageSpec={{ src: project.images.list.mobileImgSpecs.src, width: 320.6, height: 306.5 }}
					tabletImageSpec={{ src: project.images.list.tabletImgSpecs.src, width: 339, height: 314 }}
					desktopImageSpec={{ src: project.images.list.desktopImgSpecs.src, width: 540, height: 500 }}
					alt="Evan's profile picture."
				/>
				<span class="line-break-top" />
				<h2>{project.title}</h2>
				<p>{project.summary}</p>
				<Button
					class="project-button"
					height={8}
					width={35}
					label="view project"
					href={project.href}
					ariaLabel="Go to project details page."
				/>
				<span class="line-break-bottom" />
			</div>
		))
	}
</ul>

<style>
	ul {
		margin-top: 0;
		padding-left: 0;
		margin-bottom: 0;
	}
	.project {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'image image'
			'lineT lineT'
			'title title'
			'description description'
			'button button '
			'lineB lineB';
		gap: 32px 0px;
		max-width: 1015px;
	}

	.custom-picture {
		grid-area: image;
	}
	.custom-picture img {
		width: 100%;
	}

	.line-break-top,
	.line-break-bottom {
		border: solid var(--light-grey-text-field) 1px;
		width: 100%;
	}

	.line-break-top {
		grid-area: lineT;
	}

	.line-break-bottom {
		grid-area: lineB;
		margin-bottom: 72px;
	}

	h2 {
		grid-area: title;
		margin: 0px;
	}

	p {
		grid-area: description;
		margin: 0px;
	}

	.project-button {
		grid-area: button;
		justify-self: start;
	}

	div[id=3] span:last-child {
		display: none;
	}

	@media(min-width: 768px) {

		.custom-picture img {
			max-width: 339px;
	}
		ul {
			padding-top: 50px;
		}

		.custom-picture {
			display: flex;
			align-items: end;
		}

		ul div:nth-of-type(even) .custom-picture {
			justify-content: end;
		}

		ul div:nth-of-type(odd) {
			grid-template-columns: 2fr 281px;
			grid-template-areas: '. lineT'
			'image title'
			'image description'
			'image description'
			'image button'
			'. lineB';
		}

		ul div:nth-of-type(even) {
			grid-template-columns: 281px 2fr;
			grid-template-areas: 'lineT .'
			'title image'
			'description image'
			'description image'
			'button image'
			'lineB .';
		}
		.line-break-bottom {
			margin-top: 10px;
		}
		div[id=3] span:last-child {
		display: block;
	}
	}

	@media (min-width: 1024px) {

		.custom-picture img {
			max-width: 540px;
	}
		.project {
			gap: 0px;
		}

		.project p {
			align-self: center;
		}
		h2 {
			align-self: end;
		}
		ul div:nth-of-type(odd) {
			grid-template-columns: 2fr 350px;
		}

		ul div:nth-of-type(even) {
			grid-template-columns: 350px 2fr;
		}

		.project-button {
			align-self: start;
		}

		.line-break-bottom {
			margin-top: 0px;
		}

		ul div:nth-of-type(odd) {
			grid-template-columns: 2fr 350px;
			grid-template-areas: '. lineT'
			'image title'
			'image description'
			'image button'
			'. lineB';
		}

		ul div:nth-of-type(even) {
			grid-template-columns: 350px 2fr;
			grid-template-areas: 'lineT .'
			'title image'
			'description image'
			'description image'
			'button image'
			'lineB .';
		}
	}
</style>
