---
import { Icon } from 'astro-icon/components';
import NavMenu from './NavMenu.astro';
---

<nav role="navigation" aria-label="Main menu">
	<ul class="logo-container">
		<li>
			<a href="#"><Icon name="logo" /></a>
		</li>
	</ul>
	<NavMenu />
</nav>

<style>
	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		width: calc(100% - 14%);
		height: 100px;
		font-size: var(--xs-small-font);
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}

	.logo-container {
		display: flex;
		padding-left: 0px;
		list-style-type: none;
	}

	@media (min-width: 768px) {
		nav {
			min-width: 713px;
		}
	}

	@media (min-width: 1024px) {
		nav {
			max-width: 1056px;
		}
	}
</style>
