---
import Layout from "~/layouts/Layout.astro"
import ContactMeShared from "~/components/ContactMeShared.astro"
---

<Layout title="Welcome to Evan Trujillo's portfolio.">
	<div class="page-wrapper">
        <ContactMeShared />
	</div>
</Layout>
