---
import Button from '../Button.astro';
import CustomPicture from '../CustomPicture.astro';
import profile from '../../images/homepage/profile.webp';
---

<div id="about-me">
	<CustomPicture
		class="custom-picture"
		mobileImageSpec={{ src: profile, width: '100%' }}
		tabletImageSpec={{ src: profile, height: 600 }}
		desktopImageSpec={{ src: profile, height: 600 }}
		alt="Evan's profile picture."
	/>
	<div class="description">
		<span class="line-break-top"></span>
		<h2>About Me</h2>
		<p class="text">
			I am a full stack web developer based in Tokyo, Japan, with a background
			in teaching and information technology. I specialize in JavaScript and
			Typescript, with a focus on building full stack web applications, using
			React and frameworks such as Next.js and Node.js. Although I am based in
			Japan I’m happy working remotely and have experience in remote teams. I
			enjoy collaborating with others so lets build stuff for the web together.
		</p>
		<div class="button-wrapper">
			<Button
				height={8}
				width={32}
				label="go to projects"
				href="/projects"
				ariaLabel="Go to projects page."
			/>
		</div>
		<span class="line-break-bottom"></span>
	</div>
	<style>
		.custom-picture img {
			width: 100%;
		}
		.line-break-top,
		.line-break-bottom {
			border: solid var(--light-grey-text-field) 1px;
			width: 100%;
		}
		.line-break-top {
			display: inline-block;
			margin-top: 30px;
		}
		h2 {
			margin-bottom: 25px;
		}
		#about-me {
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;
		}
		.text {
			margin-top: 0px;
			margin-bottom: 30px;
			max-width: 100%;
			font-size: var(--medium-font);
			text-align: start;
		}

		.description {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		.button-wrapper {
			max-width: 202px;
		}

		.line-break-bottom {
			display: none;
		}

		@media (min-width: 768px) {
			.line-break-top {
				margin-top: 0;
			}
			#about-me {
				flex-direction: row;
			}

			.description {
				padding-left: 70px;
			}

			.line-break-top {
				display: block;
			}

			.line-break-bottom {
				display: block;
				margin-top: auto;
				margin-bottom: 10px;
			}
		}
		@media (min-width: 1024px) {
			.description {
				padding-left: 120px;
			}
		}
	</style>
</div>
