---
import { projects } from '~/lib/constants';
import { Icon } from 'astro-icon/components';

interface Props {
	currentIndex: number;
}
const { currentIndex } = Astro.props;

const previousProject =
	projects[(currentIndex - 1 + projects.length) % projects.length];
const nextProject = projects[(currentIndex + 1) % projects.length];
---

<div class="carousel">
	<a class="previous" href={previousProject.title}
		><Icon name="left-carrot" />
		<div><h3>{previousProject.title}</h3><span>Previous Project</span></div></a
	>
	<span class="line-break"></span>
	<a class="next" href={nextProject.title}
		><Icon name="right-carrot" /><div>
			<h3>{nextProject.title}</h3><span>Next Project</span>
		</div></a
	>
</div>
<style>
	.carousel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 0px;
		margin: 40px 0px;
		border-top: solid var(--light-grey-text-field) 1px;
		border-bottom: solid var(--light-grey-text-field) 1px;
		height: 148px;
	}

	[data-icon='left-carrot'],
	[data-icon='right-carrot'] {
		stroke: var(--grayish-dark-blue);
	}

	.previous:hover [data-icon='left-carrot'] {
		transition: all 0.5s ease;
		stroke: var(--primary-hover-color);
	}

	.previous:hover div h3 {
		transition: all 0.5s ease;
		color: var(--primary-hover-color);
	}

	.previous:hover div span {
		transition: all 0.5s ease;
		color: var(--primary-hover-color);
	}

	.next:hover div h3 {
		transition: all 0.5s ease;
		color: var(--primary-hover-color);
	}

	.next:hover div span {
		transition: all 0.5s ease;
		color: var(--primary-hover-color);
	}

	.next:hover [data-icon='right-carrot'] {
		transition: all 0.5s ease;
		stroke: var(--primary-hover-color);
	}

	.line-break {
		border-left: solid var(--light-grey-text-field) 1px;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		width: 100%;
		text-decoration: none;
		text-transform: capitalize;
	}

	a h3 {
		margin-top: 15px;
		margin-bottom: 3px;
		font-weight: normal;
	}

	a span {
		color: #adb5bd;
		font-size: var(--medium-font);
	}

	a div {
		display: flex;
		flex-direction: column;
	}

	.next h3 {
		text-align: end;
	}

	.next span {
		text-align: end;
	}
	.next svg {
		align-self: end;
	}

	@media (min-width: 768px) {
		a {
			flex-direction: row;
			gap: 25px;
		}

		.next {
			justify-content: end;
		}
		a svg {
		}
		.next svg {
			align-self: center;
			order: 1;
		}

		.previous {
			justify-content: start;
		}

		a svg {
			align-self: center;
		}

		a div {
			align-self: center;
		}
	}
</style>
