---
import Button from './Button.astro';

const { ...rest } = Astro.props;
---

<div class="contact-me">
	<span class:list={['line-break']} {...rest}></span>
	<div class="header">
		<h2>Interested in doing a project together?</h2>
	</div>
	<div class="btn">
		<Button
			width={34}
			height={8}
			href="/contact-me"
			label="contact me"
			ariaLabel="Go to contact me page."
		/>
	</div>
	<style>
		.line-break {
			align-self: flex-start;
			margin-bottom: 80px;
			border-top: solid var(--light-grey-text-field) 1px;
			width: 100%;
		}
		.contact-me {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;
			min-height: 420px;
		}
		.btn {
			min-width: 162px;
		}

		.btn,
		.header {
			justify-self: center;
			max-width: 320px;
		}

		.header {
			text-align: center;
		}

		@media (min-width: 768px) {
			.line-break {
				align-self: auto;
				margin-bottom: 0px;
				width: calc(100% - 602px);
			}
			.contact-me {
				flex-direction: row;
				justify-content: space-between;
				padding-bottom: 50px;
				min-height: 0;
			}

			.header {
				max-width: 350px;
				text-align: inherit;
			}

			.contact-me :nth-child(1) {
				order: 2;
			}
			.contact-me :nth-child(2) {
				order: 1;
			}
			.contact-me :nth-child(3) {
				order: 3;
			}
		}
	</style>
</div>
