---
import { Icon } from 'astro-icon/components';
---

<footer>
	<nav id="footer-container" aria-label="footer site map">
		<ul class="site-map-container">
			<li>
				<ul class="nav-container">
					<li><a aria-label="link to top of page" href="#"><Icon name="logo-light" /></a></li>
					<li><a aria-label="link to top of page" href="/">home</a></li>
					<li><a aria-label="link to portfolio page" href="/portfolio">portfolio</a></li>
					<li><a aria-label="link to contact page" href="/contact-me">contact me</a></li>
				</ul>
			</li>
			<li>
				<ul class="social-media">
					<li>
						<a
							href="https://github.com/evomatic"
							target="_blank"
							rel="noopener noreferrer"
							aria-label="link to github"><Icon name="github-light" /></a
						><li>
							<a href="#" aria-label="link to twitter" target="_blank" rel="noopener noreferrer"
								><Icon name="twitter-light" /><li>
									<a
										href="https://www.linkedin.com/in/evantrujillo/"
										aria-label="link to linkedin"
										target="_blank"
										rel="noopener noreferrer"><Icon name="linkedin-light" /></a
									>
								</li></a
							>
						</li>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#footer-container {
		display: flex;
		font-size: var(--xs-small-font);
		justify-content: center;
		text-transform: uppercase;
		align-items: center;
		width: calc(100% - 14%);
		min-height: 354px;
		letter-spacing: 0.1rem;
	}

	#footer-container li {
		list-style-type: none;
	}

	#footer-container ul {
		padding-left: 0px;
	}

	.site-map-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 242px;
	}

	.site-map-container li a {
		color: var(--very-light-grey);
		text-decoration: none;
	}

	.nav-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	.nav-container li:nth-child(1) {
		height: 32px;
	}

	.social-media {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.social-media li:nth-child(odd) {
		height: 24px;
	}

	.social-media li:nth-child(2) {
		height: 19px;
	}

	@media (hover: hover) {
		.site-map-container li a:hover {
			transition: color 0.3s ease;
			color: var(--slightly-desaturated-cyan);
		}
	}
	@media (hover: none) {
		.site-map-container li a:focus {
			color: var(--slightly-desaturated-cyan);
		}
	}

	@media (min-width: 768px) {
		footer {
			min-height: 80px;
		}

		#footer-container {
			min-height: 80px;
			width: calc(100% - 55px);
		}
		.site-map-container {
			flex-direction: row;
			margin: 0px;
			min-height: 80px;
			width: 100%;
		}

		.nav-container {
			flex-direction: row;
			min-width: 481px;
			justify-content: flex-start;
			gap: 40px;
		}
	}
		@media (min-width: 768px) {
			#footer-container {
				height: 80px;
			}
		}
		@media (min-width: 1024px) {
			#footer-container {
				max-width: 1056px;
			}

			.nav-container {
			gap: 60px;
			}
		}
</style>
