---
import { Icon } from 'astro-icon/components';
---

<nav>
	<ul class="logo-container">
		<li>
			<a href="https://threkk.com"><Icon name="logo"/></a>
		</li>
	</ul>
	<!-- The hamburger menu -->
	<label for="menu" tabindex="0">
		<Icon name="hamburger" />
	</label>
	<input id="menu" type="checkbox" />
	<!-- The collapsable menu -->
	<ul>
		<li><a href="https://mastodon.social/@threkk">HOME</a></li>
		<li><a href="https://twitter.com/threkk">PORTFOLIO</a></li>
		<li><a href="https://github.com/threkk">CONTACT ME</a></li>
	</ul>
	<!-- Always visible items in the nav bar -->
</nav>

<style>

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 100px;
        min-width: 320px;
        justify-content: space-between;
        padding: 0 0 0 0;
    }
    /* Because we are in mobile mode, we want to display it as a
   vertical list */
    nav ul {
        list-style-type: none;
    }
    .logo-container {
        display: flex;
        padding-left: 0px;
    }

    input[type='checkbox']:not(:checked) + ul {
        display: none;
    }
    nav input[type='checkbox'],
    nav label {
        display: none;
    }

    /* Stlying the menu icon, the checkbox stays hidden */
    nav label {
        display: block;
        align-self: center;
        padding: 0.5em;
        line-height: 1.6em;
        text-align: right;
    }

</style>


<!-- nav {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
nav ul {
    /* Make the markers disappear */
    /* list-style-type: none; */
    display: block;
}
nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin: 0.3em 1em;
}

nav ul:last-child {
    flex-basis: 100%;
    width: 100%;
} -->
