<div>
	<h2>Contact Me</h2>
	<form id="contact-me">
		<label
			>Name
			<input type="text" name="name" required autocomplete="text" placeholder="Evan Trujillo" />
		</label>
		<label
			>Email Address
			<input
				type="email"
				name="email"
				required
				autocomplete="email"
				placeholder="evantrujillo30@gmail.com"
			/>
		</label>
		<label
			>Message
			<textarea name="message" required></textarea>
		</label>
		<button>Send Message</button>
	</form>
</div>

<style>
	#contact-me {
		display: grid;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		display: flex;
		flex-direction: column;
	}

	input {
		max-width: 100%;
		height: 48px;
	}

	textarea {
		max-width: 100%;
		height: 96px;
	}
</style>
