<div class="contact-me-wrapper">
	<span class="line-break-top"></span>
	<h2>Contact Me</h2>
	<form
		hx-swap="none"
		hx-post="/api/email.json"
		hx-on::after-request="if(event.detail.successful) this.reset()"
	>
		<label
			>Name
			<input type="text" name="name" required autocomplete="text" placeholder="Jane Appleseed" />
			<span class="error-message">This field is required</span>
		</label>
		<label
			>Email Address
			<input
				type="email"
				name="email"
				required
				autocomplete="email"
				placeholder="email@example.com"
			/>
			<span class="error-message">This field is required</span>
		</label>
		<label
			>Message
			<textarea name="message" required placeholder="How can I help?"></textarea>
			<span class="error-message">This field is required</span>
		</label>
		<input class="button" value="Send Message" type="submit" />
	</form>
</div>

<style>
	.contact-me-wrapper {
		padding-bottom: 30px;
	}

	.line-break-top {
		display: none;
		grid-area: line;
		border: solid var(--light-grey-text-field) 1px;
	}

	h2 {
		grid-area: h2;
	}

	form {
		display: flex;
		grid-area: form;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 50px;
	}

	label {
		display: flex;
		flex-direction: column;
		color: var(--grayish-dark-blue);
		font-weight: bold;
	}

	.error-message {
		visibility: hidden;
		color: var(--bright-red-errors);
		font-style: italic;
		font-size: 0.625rem;
	}

	input,
	textarea,
	.button {
		margin-top: 10px;
		outline-style: none;
		border-style: none;
		padding-left: 15px;
		font-size: 0.813rem;
		font-family: var(--public-sans);
	}

	input,
	textarea {
		outline: none;
		background-color: var(--light-grey-text-field);
		max-width: 100%;
	}

	input {
		height: 48px;
	}

	textarea {
		padding-top: 15px;
		height: 80px;
		resize: none;
	}

	.button {
		transition: all 0.5s ease;
		cursor: pointer;
		margin-top: 0px;
		background-color: var(--dark-blue);
		padding: 17px 0px;
		max-width: 200px;
		color: var(--light-grey-text-field);
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}

	input:active,
	input:focus,
	textarea:active,
	textarea:focus {
		outline: 2px solid var(--primary-hover-color);
	}

	input:focus:invalid,
	textarea:focus:invalid {
		outline: 2px solid var(--bright-red-errors);
	}

	input:focus:invalid + .error-message,
	textarea:focus:invalid + .error-message {
		visibility: visible;
	}

	.button:hover,
	.button:focus {
		background-color: var(--primary-hover-color);
	}

	@media (min-width: 768px) {
		.line-break-top {
			display: block;
			margin: 20px 0px;
		}
	}
	@media (min-width: 1024px) {
		.contact-me-wrapper {
			display: grid;
			grid-template-areas:
				'line line line'
				'h2 form form';
			gap: 0px 62px;
		}
	}
</style>
